<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unitloadsystem.activitys"
    android:versionCode="5"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unitload_icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.unitloadsystem.activitys.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unitloadsystem.activitys.UnitCalculationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.unitloadsystem.activitys.KeyPadActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.unitloadsystem.activitys.CalculationResultActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.unitloadsystem.activitys.PalletManagerActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>
